In [9]:
import newsapi

apikey = '455e01c84ca44ff387187f10f202bed3'
from newsapi.articles import Articles
a = Articles(API_KEY = apikey)
data = a.get(source = "the-new-york-times", sort_by = 'top')

#print (data) ## raw news data

## -----------------------------------------------------------
import numpy
import pandas as pd
data = pd.DataFrame.from_dict(data)
data = pd.concat([data.drop(['articles'], axis=1), data['articles'].apply(pd.Series)], axis=1)

data.head()

data.drop(columns=['status', 'source','sortBy','author','url','urlToImage','publishedAt'])

,title,description
0,Trump Sees an Obstacle to Getting His Way on I...,The president’s removal of Department of Homel...
1,Tiger Woods Takes the Masters in a Win for the...,After four back surgeries and nearly a decade ...
2,Pete Buttigieg Announces Official Start to 202...,"Mr. Buttigieg, a 37-year-old Rhodes Scholar an..."
3,"One Month, 500,000 Face Scans: How China Is Us...","In a major ethical leap for the tech world, Ch..."
4,ISIS Kidnapped Her 5 Years Ago. The Red Cross ...,"The abduction of Louisa Akavi, a nurse from Ne..."
5,‘Game of Thrones’ Season 8 is Coming: Here’s O...,An obsessive’s guide to the final season of “G...
6,"Gentlemen, Start Your Algorithms",A racetrack veteran compares the Self Racing C...